.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-bounce infinite 1s linear;
  height: 50px;
}

.App-name {
  height: 60px;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.Court-list-container {
  margin: 10px;
  height: 70vh;
  position: absolute;
  z-index: 10;
}

.Court-list-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Court-list {
  margin-top: 21%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .Court-list-container {
    position: fixed;
    margin: 0;
    bottom: 0;
    height: 230px;
    }
  .Court-list {
    display: inline-flex;
  }
}