.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-bounce infinite 1s linear;
  height: 80px;
}

.App-name {
  height: 90px;
  padding: 30px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
