.Container-List {
  position: fixed;
  margin: 10px;
  z-index: 10;
  width: 310;
  overflow: auto;
  height: 70vh;
  min-height: 170px;
  background-color: rgba(52, 52, 52, 0.5);
  border-radius: 5px;
  margin: 10px;
}

.Container-List:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
  .Container-List {
    position: fixed;
    margin: 1px;
    bottom: 0;
    height: 170px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}