/* TESTING to see if this fixed mobile keyboard issue*/
html {
  overflow: auto;
}
body {
  height: auto;
  overflow: auto;
}
.scrollable {
  position: inherit;
}
/* TESTING to see if this fixed mobile keyboard issue*/

.App {
  text-align: center;
}

.compass:hover{
  cursor: pointer;
}

.App-logo {
  margin: 10px;
  animation: App-logo-bounce infinite 1s linear;
  height: 45px;
}

.App-name {
  height: 20px;
  margin: 10px;
}

.App-header {
  background-color: #f8e9d6; 
  height: 80px;
  padding: 25px 35px;
  color: white;
  z-index: 1;
  display: flex;
  align-content: center;
}

.App-header h1{
  color: rgb(184,97,37);
  margin: 0;
}

.App-intro {
  font-size: large;
}

.filter {

  background-color: rgba(0,153,255,0);

  margin: 30px 0 40px;
}

.Clear-filter {
  display: none;
}

@keyframes App-logo-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@media only screen and (max-width: 600px) {
  .App-header {
    padding: 10px;
  }
  .Court-list {
    display: inline-flex;
    margin-top: 0;
    justify-content: center;
  }
  .filter {
    opacity: 1;
    margin: 3%;
    padding: 1%;
    position: fixed;
    top: 0px;
    right: 5px;
    width: 30%;
    height: 10%;
    padding: 10px;
  }
}