# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# evnironment variables
.env.dev
/src/helpers/secret.js

# vscode eslint ignore
.vscode

# server files
/server/secret.j
/server/node_modules
